@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background: #100E1D;
}

.text {
  &--white {
    color: #E7E7EB;
  }

  &--gray {
    color: #A09FB1;
  }

  &--bold {
    font-weight: bold;
  }
}

.flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--align-center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }
}

.width {
  &--full {
    width: 100%;
  }
}

.margin {
  &--bottom {
    &--30 {
      margin-bottom: 30px;
    }

    &--10 {
      margin-bottom: 10px;
    }
  }
}